.button {
  width: 100%;
  padding: 6px;
  background: none;
  border: 2px solid #50fa7b;
  background-color: #50fa7b;
  border-radius: 6px;
  color: #333;
}

.isDelete {
  border: 2px solid #ff5c5a;
  background-color: #ff5c5a;
}
